@charset "UTF-8";
#top_search {
	width: 300px;
	position: absolute;
	top: 50%;
	left: auto;
}

section {
	width: 1200px;
	min-height: 2600px;
	height: auto;
	margin: 0px auto;
}

#contentBox {
	width: 1200px;
	height: 250px;
	background-color: #fff6ec;
	font-family: 'Cafe24Ohsquareair';
}

.listBox {
	width: 1200px;
	height: 300px;
	border: 1px auto black;
	background-color: #fff6ec;
	display: flex;
}

.list {
	border: 1px auto black;
	width: 280px;
	height: 280px;
	background-color: white;
	margin: 10px;
	font-family: 'Cafe24Ohsquareair';
}

h2 {
	font-family: 'Cafe24Ohsquare';
	margin-top: 30px;
}

#test1 {
	font-family: 'Cafe24Ohsquare';
}

#test2 {
	font-family: 'Cafe24Ssurround';
}

#1 {
	text-align: center;
	padding: 100px 0;
}



