@charset "UTF-8";
.container {
    width:100%;
    margin: auto;
    height: calc(100% - 10vh);
    position: relative;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    
}

.btn {
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.back-btn {
    background-color: #4e73df;
}

.ban-btn {
    background-color: #e74a3b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fc;
}

.Cbtn {
    background-color: #1cc88a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.Cbtn:hover {
	background-color: #45a049;
}

.pagination {
	position:absolute;
	bottom:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-controls {
    display: flex;
}

.pagination-btn {
    background-color: #f8f9fc;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}
